# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Django stuff
db.sqlite3
*.log
media/

# Environment variables
.env

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db