{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
</head>
<body>
<header class="header">
    <div class="container">

        <div class="logo">Shriyash Yadav</div>

        <!-- Mobile Toggle -->
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">☰</label>

        <nav class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'project' %}">Projects</a></li>
                <li><a href="{% url 'blog' %}">Blogs</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>

    </div>
</header>
</body>
</html>
